/* root */
:root {
  --color-for-description: gray;
  --font-size-for-title: 50px;
  --font-size-for-description: 17px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}
/* Body */

body {
  font-family: sans-serif;
}

/*  Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* Title */

.title {
  font-size: var(--font-size-for-title);
  padding-top: 30px;
  padding-bottom: 5px;
}
.description {
  font-size: var(--font-size-for-description);
  color: var(--color-for-description);
}

/* MAIN */
.cardcontainer {
  display: flex;
  gap: 2rem;
  margin-top: 70px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
/* FULL CARD */
.card {
  height: 700px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: calc(100% / 3 - 2rem * 3 / 3);
  min-width: 300px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 13px 0px;
}
/* Fist part of the card */
.centercard {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 50px;
}

.sale {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(225, 225, 225);
}
/* Purple button */
.chooseplan {
  background-color: rgba(101, 0, 255);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-weight: bolder;
}
/* LASt part */
.infocontainer {
  line-height: 55px;
  font-size: 19px;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  gap: 14px;
  align-items: center;
}
/* SECOND CARD */
.selected {
  color: white;
}
.purple {
  background-color: rgba(101, 0, 255);
}

.blacksale {
  color: black;
}
.reverse {
  background-color: white;
  color: rgba(101, 0, 255);
}
